#root{
    width: 100%;
    height: 100%;
}
/*设置文本选中颜色，看起来更酷一些*/
::selection { 
    background:rgba(255, 255, 255, .4); 
}
::-moz-selection { 
    background:rgba(255, 255, 255, .4); 
}
::-webkit-selection { 
    background:rgba(255, 255, 255, .4); 
}