.reply-content {
  padding-top: 20px;
  height: 160px;
}
.reply-content textarea {
  display: block;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 10px;
  width: 880px;
  min-width: 880px;
  max-width: 880px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  padding: 10px;
  font-size: 15px;
}
.reply-content textarea:focus {
  outline: none;
  border: 1px solid #999;
}
.reply-content .reply-btn {
  float: right;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #fff;
  color: #666;
  padding: 10px;
}
.reply-content .reply-btn:hover {
  background-color: #f2f5f6;
}
