.header-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 230px;
  background-color: #fff;
  box-shadow: 10px 0 18px -14px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.header-nav .my {
  padding: 40px;
}
.header-nav .my .avatar {
  width: 100px;
  border-radius: 50%;
}
.header-nav .my .my-nick {
  font-size: 23px;
  margin-top: 5px;
  font-weight: bold;
}
.header-nav .nav-list {
  width: 100%;
  list-style: none;
  margin: 0 auto;
}
.header-nav .nav-list li {
  display: block;
}
.header-nav .nav-list li a {
  padding: 14px 40px;
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
