.my-article {
  margin: 0 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #dbdbdb;
  justify-content: center;
}
.my-article a {
  display: block;
  margin: 0 auto;
}
.my-article .article-list {
  width: 900px;
  margin: 0 auto;
  display: flex;
}
.my-article .article-list .article-image {
  flex: 1;
}
.my-article .article-list .article-image img {
  width: 430px;
}
.my-article .article-list .article-desc {
  flex: 1;
  padding: 20px;
}
.my-article .article-list .article-desc .title {
  font-size: 30px;
}
.my-article .article-list .article-desc span,
.my-article .article-list .article-desc p {
  color: #666;
}
.my-article .article-list .article-desc span {
  display: inline-block;
  font-size: 14px;
}
.my-article .article-list .article-desc .author {
  padding: 10px;
  padding-left: 0;
}
.my-article .article-list .article-desc .author i {
  padding-right: 5px;
}
.my-article .article-list .article-desc .time i {
  padding-right: 5px;
}
.my-article .article-list .article-desc .tag {
  display: block;
  width: 50px;
  padding: 5px 5px;
  margin-bottom: 5px;
  border: 1px solid #666;
  border-radius: 50px;
  font-size: 12px;
}
