.article {
  padding-bottom: 50px;
}
.article .article-loading {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  height: 200px;
  line-height: 200px;
  color: #666;
}
.article .article-view {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px solid #999;
}
.article .article-view .title {
  padding-bottom: 20px;
}
.article .article-view .info {
  color: #666;
  font-size: 17px;
  padding-bottom: 10px;
}
.article .article-view .info span {
  display: inline-block;
}
.article .article-view .info .author,
.article .article-view .info .time {
  padding-right: 10px;
}
.article .article-view .desc {
  color: #666;
  font-size: 17px;
  padding-bottom: 10px;
}
.article .article-view .article-content p {
  line-height: 1.75;
  font-size: 18px;
  color: #666;
}
.article .article-comments {
  width: 900px;
  margin: 0 auto;
}
.article .no-comment {
  padding-top: 30px;
}
.article .no-comment p {
  width: 150px;
  color: #666;
  display: block;
  margin: 0 auto;
}
.article .jump-others {
  width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}
.article .jump-others .prev {
  text-align: left;
  width: 50%;
  display: inline-block;
}
.article .jump-others .prev .jump-btn {
  color: #666;
  font-size: 14px;
  margin: 20px 0;
  padding: 0 10px;
  border-left: 3px solid #999;
}
.article .jump-others .next {
  display: inline-block;
  text-align: right;
  width: 50%;
}
.article .jump-others .next .jump-btn {
  color: #666;
  font-size: 14px;
  margin: 20px 0;
  padding: 0 10px;
  border-right: 3px solid #999;
}
.article .jump-others .jump-title {
  padding-top: 10px;
}
